<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Created by Yogi Dewansyah
  ~ URL: https://github.com/yodeput
  ~ Copyright (c) 2022 . All rights reserved.
  ~ Last modified 2/23/22, 10:27 PM
  ~
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yodeput.newsapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.yodeput.newsapp.BaseApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.yodeput.newsapp.MainActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="com.yodeput.newsapp.androidx-startup"
            android:exported="false"
            tools:replace="android:authorities"
            tools:node="merge">

            <meta-data
                android:name="com.yodeput.newsapp.core.initializer.TimberInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>

</manifest>